{{ define "main" }}



  {{/* START bibliography carousel. */}}

  <section class="mt-24 max-w-xs relative md:mt-16">

    <article class="max-w-xs">

      <div class="w-32 h-32 rounded-full bg-purple-200 mx-auto flex justify-center items-center">

        <img class="w-16 h-16" src="{{ .Site.Home.RelPermalink }}book.svg" alt="Book icon.">

      </div>

      <h2 class="px-8 mt-2 mb-8 text-center text-lg font-bold text-purple-800">Books</h2>

      <div class="relative overflow-x-hidden cursor-pointer carousel">

        <img class="transition-opacity duration-300 ease-linear carousel" src="{{ .Site.Home.RelPermalink }}before-night-falls.jpg" alt="Cover of Reinaldo Arenas's book Before Night Falls." style="width: 320px; height: 420px;" aria-live="polite">

        <button class="mt-24 -ml-48 w-64 h-64 top-0 left-0 bg-purple-800 opacity-75 hover:opacity-100 rounded-full absolute transform -translate-x-16 carousel transition duration-300 ease-in-out focus:outline-none" tabindex="-1"><img class="ml-auto mr-6" src="{{ .Site.Home.RelPermalink }}arrow-left.svg" alt="Left arrow icon."></button>

        <button class="mt-24 -mr-48 w-64 h-64 top-0 right-0 bg-purple-800 opacity-75 hover:opacity-100 rounded-full absolute transform translate-x-16 carousel transition duration-300 ease-in-out focus:outline-none" tabindex="-1"><img class="mr-auto ml-6" src="{{ .Site.Home.RelPermalink }}arrow-right.svg" alt="Right arrow icon."></button>

        <ul class="mt-2 flex justify-center">
        
          <li class="carousel"><button class="w-8 h-8 opacity-50 opacity-100 hover:opacity-100 focus:opacity-100 transition-opacity duration-300 ease-linear" data-index="0"><div class="mx-auto w-4 h-4 rounded-full bg-purple-800"></div></button></li> 

          <li class="carousel"><button class="mx-1 w-8 h-8 opacity-50 hover:opacity-100 focus:opacity-100 transition-opacity duration-300 ease-linear" data-index="1"><div class="mx-auto w-4 h-4 rounded-full bg-purple-800"></div></button></li> 

          <li class="carousel"><button class="w-8 h-8 opacity-50 hover:opacity-100 focus:opacity-100 transition-opacity duration-300 ease-linear" data-index="2"><div class="mx-auto w-4 h-4 rounded-full bg-purple-800"></div></button></li> 

          <li class="carousel"><button class="mx-1 w-8 h-8 opacity-50 hover:opacity-100 focus:opacity-100 transition-opacity duration-300 ease-linear" data-index="3"><div class="mx-auto w-4 h-4 rounded-full bg-purple-800"></div></button></li> 

          <li class="carousel"><button class="w-8 h-8 opacity-50 hover:opacity-100 focus:opacity-100 transition-opacity duration-300 ease-linear" data-index="4"><div class="mx-auto w-4 h-4 rounded-full bg-purple-800"></div></button></li> 

        </ul>

      </div>

    </article>

  </section>

  {{/* END bibliography carousel. */}}



  {{/* START poem list. */}}

  <section class="mt-24 max-w-xs md:max-w-sm">

    <article class="max-w-xs md:max-w-sm">

      <div class="w-32 h-32 rounded-full bg-purple-200 mx-auto flex justify-center items-center">

        <img class="w-16 h-16" src="{{ .Site.Home.RelPermalink }}text-document.svg" alt="Text document icon.">

      </div>

      <div class="px-8">

        <h2 class="mt-2 mb-8 text-center text-lg font-bold text-purple-800">Poems</h2>

        <ul id="poems">
        
          {{ range .Pages }}

            <li>
              
              <a class="my-8 pl-2 border-l-4 border-purple-400 hover:border-purple-800 hover:text-purple-900 focus:border-purple-800 focus:text-purple-900 block transition-colors duration-300 ease-linear" href="{{ .RelPermalink }}">
            
                <h3>{{ .Title }}</h3> 

                {{ if .Params.year }}

                  <p class="pt-2 text-right"><img class="mr-1 pb-1 w-6 h-6 inline" src="{{ .Site.Home.RelPermalink }}calendar.svg" alt="Calendar icon.">{{ .Params.year }}</p>

                {{ end }}

              </a>
            
            </li> 

          {{ end }}
        
        </ul> 

      </div>

    </article>

  </section>

  {{/* END poem list. */}}



{{ end }}
